

<!-- <body> -->
<!-- <div class="get-size"> -->


  <div class="about-wrapper">
    <div class="section-spacer" id="top">
      <div class="side-graphic">
        <img src="" alt="" width="100px" id="avatar">
      </div>
      <div class="info-wrapper">
        <div class="info-heading">
          <p></p>
        </div>
        <div class="info-body">

          <p></p>
        </div>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="side-graphic">
        <img src="src/app/images/Spotify_Icon_RGB_Black.png" alt="" width="100px">
      </div>
      <div class="info-wrapper">
        <div class="info-heading">
          <p>About The App</p>
        </div>
        <div class="info-body">
          <p>&nbsp;</p>
          <p>This app uses Angular, and Spotify's API, and OAuth 2.0 and Material.io. It was born out of a couple of key desires, primarily giving myself some experience in web development; however, the site's premise comes from a long-standing desire to learn about personal musical tastes. I have always wanted to be able to be able to understand my own musical preferences and how they change over time.</p>
          <p>&nbsp;</p>
          <p>While this app may not answer all of the burning questions that it could, it has been helpful in my understanding of development in several ways. For one thing, a CSS framework like Bootstrap is a MUST. This website was built without one, and it has been a mess trying to get everything to work correctly. Additionally, I have learned about the limitations of API use. Spotify's API doesn't allow for nearly all of the data collection I was hoping for, such as number of plays for an individual song, but I do think the data visualization aspect of this is pretty cool. </p>
        </div>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="side-graphic">
        <img src="src/app/images/avatar_cropped.jpg" alt="" width="100px" id="avatar">
      </div>
      <div class="info-wrapper">
        <div class="info-heading">
          <p>About The Developer</p>
        </div>
        <div class="info-body">
          <p>&nbsp;</p>
          <p>Bradley Vorjohan is an engineer currently working as an app developer at Appian in the Washington, DC area. He grew up in Maryville, Tennessee, a suburb of Knoxville. After graduating from Virginia Tech with a degree in Mechanical Engineering, he worked for Lockheed Martin as a Structural Design Engineer. While at Lockheed, he designed parts and systems for the F-16 fighter line. He has since shifted his career to development work at Appian, where he works on web applications used both internally and in customer-facing products. Bradley is passionate about building intelligent, scalable using modern javascript frameworks.</p>
        </div>
      </div>
    </div>
    <div class="section-spacer" id="bottom">
      <div class="side-graphic">
        <img src="" alt="" width="100px" id="avatar">
      </div>
      <div class="info-wrapper">
        <div class="info-heading">
          <p></p>
        </div>
        <div class="info-body">
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- </body> -->
